<img src="https://prnewswire2-a.akamaihd.net/p/1893751/sp/189375100/thumbnail/entry_id/1_su9da4fu/def_height/1001/def_width/1911/version/100011/type/2/q/100"  width="300" height="200">

# Modeling

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from prepare import prepare_zillow
from wrangle import train_validate_test, impute_values
from explore import cluster_features

from warnings import filterwarnings
filterwarnings('ignore')

In [9]:
df = prepare_zillow()

In [10]:
columns_to_drop = ['parcelid', 'date_sold']

In [11]:
df.drop(columns=columns_to_drop, inplace=True)

In [12]:
train, validate, test = train_validate_test(df)
train, validate, test = impute_values(train, validate, test)

In [17]:
train.describe()

,num_of_bedrooms,num_of_restrooms,living_room_area_sqft,lot_size_sqft,year_built,has_basement,has_hottub_or_spa,has_pool,pool_area_sqft,has_patio,...,has_shed,basement_area_sqft,property_tax,structure_tax,land_tax,taxable_value,fips,latitude,longitude,logerror
count,31463.000000,31463.000000,31463.000000,3.146300e+04,31463.000000,31463.000000,31463.000000,31463.000000,31463.000000,31463.000000,...,31463.000000,31463.000000,31463.000000,3.146300e+04,3.146300e+04,3.146300e+04,31463.000000,31463.000000,31463.000000,31463.000000
mean,3.312367,2.306980,1928.402028,1.116874e+04,1963.462035,0.000922,0.030321,0.211614,8.778216,0.036074,...,0.001398,0.290055,6477.922815,1.974031e+05,3.348333e+05,5.320026e+05,6048.977370,34.025339,-118.194758,0.017259
std,0.935700,1.026015,1010.014845,7.645269e+04,23.106205,0.030346,0.171473,0.408459,70.066240,0.186478,...,0.037371,10.068131,9185.721181,2.589781e+05,6.057059e+05,7.896105e+05,20.911983,0.275295,0.355309,0.179384
min,1.000000,1.000000,128.000000,5.400000e+02,1885.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,49.180000,1.290000e+02,1.610000e+02,1.000000e+03,6037.000000,33.340620,-119.448392,-4.655420
25%,3.000000,2.000000,1270.000000,5.614000e+03,1950.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,2648.260000,7.760000e+04,7.484800e+04,1.933715e+05,6037.000000,33.829217,-118.399956,-0.024738
50%,3.000000,2.000000,1661.000000,6.878000e+03,1961.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,4649.925000,1.317975e+05,2.173660e+05,3.740000e+05,6037.000000,34.026558,-118.154916,0.006832
75%,4.000000,3.000000,2308.500000,8.778000e+03,1979.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,7353.420000,2.271195e+05,4.079120e+05,6.190000e+05,6059.000000,34.188267,-117.929022,0.040518
max,14.000000,18.000000,18654.000000,6.971010e+06,2016.000000,1.000000,1.000000,1.000000,1500.000000,1.000000,...,1.000000,752.000000,586639.300000,7.893568e+06,4.895220e+07,4.906124e+07,6111.000000,34.812397,-117.555373,3.394544

In [ ]:
train, validate, test = cluster_features(train, validate, test)

In [ ]:
train.head()

In [ ]:
train_cluster_1_dummies = pd.get_dummies(train.cluster_1, drop_first=True, prefix='cluster_1')
validate_cluster_1_dummies = pd.get_dummies(validate.cluster_1, drop_first=True, prefix='cluster_1')
test_cluster_1_dummies = pd.get_dummies(test.cluster_1, drop_first=True, prefix='cluster_1')

In [ ]:
train_cluster_2_dummies = pd.get_dummies(train.cluster_2, drop_first=True, prefix='cluster_2')
validate_cluster_2_dummies = pd.get_dummies(validate.cluster_2, drop_first=True, prefix='cluster_2')
test_cluster_2_dummies = pd.get_dummies(test.cluster_2, drop_first=True, prefix='cluster_2')

In [ ]:
train_cluster_3_dummies = pd.get_dummies(train.cluster_3, drop_first=True, prefix='cluster_3')
validate_cluster_3_dummies = pd.get_dummies(validate.cluster_3, drop_first=True, prefix='cluster_3')
test_cluster_3_dummies = pd.get_dummies(test.cluster_3, drop_first=True, prefix='cluster_3')

In [ ]:
train = pd.concat([
    train,
    train_cluster_1_dummies,
    train_cluster_2_dummies,
    train_cluster_3_dummies],
    axis=1
)

In [ ]:
validate = pd.concat([
    validate,
    validate_cluster_1_dummies,
    validate_cluster_2_dummies,
    validate_cluster_3_dummies],
    axis=1
)

In [ ]:
test = pd.concat([
    test,
    test_cluster_1_dummies,
    test_cluster_2_dummies,
    test_cluster_3_dummies],
    axis=1
)

In [ ]:
train.head()